body{
 background:#0d1117;
 font-family:Arial, sans-serif;
 color:white;
 margin:0;
}

/* HEADER */

header{
 background:#161b22;
 padding:20px;
 font-size:22px;
 font-weight:bold;
 color:#3fb950;
 border-bottom:1px solid #30363d;
}

/* CONTAINER */

.container{
 padding:30px;
}

/* CARD */

.card{
 background:#161b22;
 border-radius:10px;
 padding:20px;
 margin-bottom:20px;
 box-shadow:0 0 15px rgba(0,0,0,0.5);
}

/* BOTÃO */

button{
 background:#238636;
 border:none;
 padding:10px 20px;
 border-radius:8px;
 color:white;
 cursor:pointer;
 font-weight:bold;
 transition:0.3s;
}

button:hover{
 background:#2ea043;
}

/* INPUT */

input{
 background:#0d1117;
 border:1px solid #30363d;
 padding:10px;
 border-radius:8px;
 color:white;
 width:100%;
 margin-bottom:10px;
}

/* TABELA */

table{
 width:100%;
 border-collapse:collapse;
 margin-top:20px;
}

th,td{
 padding:12px;
 border-bottom:1px solid #30363d;
 text-align:left;
}

th{
 color:#3fb950;
}

/* MENU 3 PONTOS */

.menu{
 float:right;
 cursor:pointer;
 font-size:22px;
}
